{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{# translated as "Domů" what is quite confusing title #}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/space_meter.css">
{% endblock %}

{% block content %}
<h1>Pokladnice</h1>


<h2>{% trans "File upload" %}</h2>

{% if form.has_changed and form.is_valid %}
<p>{% trans "Upload successful." %}</p>
{% endif %}

<form enctype="multipart/form-data" method="post" action="">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="{% trans "Save" %}" name="upload" />
</form>

<h2>{% trans "Space meter" %}</h2>
<div class="space_meter"><table><tr><td class="free" style="width: {{ space.percent.free }}%"></td><td class="used" style="width: {{ space.percent.used }}%"></td></tr></table><p class="percent">{{ space.percent.free }}%</p><dl><dt>{% trans "Free space:" %}</dt><dd>{{ space.concrete.free }}</dd><dt>{% trans "Total:" %}</dt><dd>{{ space.concrete.total }}</dd></dl></div>
{% endblock %}
