{% extends "base.html" %}

{% block title%}Přihlášení{% endblock %}

{% block content %}

<h1>Přihlášení</h1>

{% if form.errors %}
<p>Nesprávne užívateľské meno a/alebo heslo</p>
{% endif %}

<form method="post" action="/prihlaseni">
<table>
<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="Přihlaš!" />
<input type="hidden" name="next" value="{{ next|escape }}" />
</form>

{% endblock %}
