{% load i18n %}

<h2>{% trans "Space meter" %}</h2>
<div class="space_meter">
  <table>
    <tr>
      {# note that widthratio rounds off its results #}
      <td class="free" style="width: {% widthratio space.free space.total 100 %}%"></td>
      <td class="used" style="width: {% widthratio space.used space.total 100 %}%"></td>
    </tr>
  </table>
  <p class="percent">{% widthratio space.free space.total 100 %}%</p>
  <dl>
    <dt>{% trans "Free space:" %}</dt>
    <dd>{{ space.free|filesizeformat }}</dd>
    <dt>{% trans "Total:" %}</dt>
    <dd>{{ space.total|filesizeformat }}</dd>
  </dl>
</div>
